:root {
  --primary-color: #0b1957;
  --secondary-color: #b26414;
  --tertiary-color: #d1e8ff;
}
#root {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  overflow-x: hidden;
}

button{
    cursor: pointer;
}

.weatherLookup{

}

.weatherLookup input{
    font-size: 20px;
    border-radius: 12px;
    padding: 12px;
    width: 30vw;
    outline: none;
}

.weatherLookup button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
  border-radius:  12px;
  padding: 12px;
  font-size: 20px;
  margin: 5px 0;
}
.weatherLookup button:hover{
    background-color: white;
    color: black;
    
}

footer {
  flex-shrink: 0;
  padding: 5px;
}
